Questions
Write each program in its own cell.
1.	Load the ‘StudentsPerformance.csv’ into a pandas DataFrame. 
2.	Print top few rows to understand about the various data columns.
3.	Find the size of data frame.
4.	Check for any missing values.
5.	Check the data type of all the column values.
6.	Analyse the values of the columns and check whether they are numerical or categorical.
7.	Add columns “total” and “average” to the dataset to get the total and average score.
8.	Analysing the average score of all the students on the basis of “race/ethnicity”, “parental level of education”, and “test preparation course” with a clear visualization.
9.	Set the minimum marks to 40 to pass in an exam. Analyse the data on the basis of the no. of students who failed or passed the exam on each score.

1.	Load the ‘StudentsPerformance.csv’ into a pandas DataFrame.

In [4]:
import pandas as pd
filename = "E:\\4th Semester\\Machine Learning Using Python\\Assignments\\StudentsPerformance.csv"
df=pd.read_csv(filename)
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

2.	Print top few rows to understand about the various data columns.

In [5]:
print (df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

3.	Find the size of data frame.

In [6]:
df.size

8000

4.	Check for any missing values.

5.	Check the data type of all the column values.

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

6.	Analyse the values of the columns and check whether they are numerical or categorical.

7.	Add columns “total” and “average” to the dataset to get the total and average score.

In [13]:

total = df.sum()
total.name = 'Total'
# Assign sum of all rows of DataFrame as a new Row
df = df.append(total.transpose())
print(df)

                                                  gender  \
0                                                 female
1                                                 female
2                                                 female
3                                                   male
4                                                   male
...                                                  ...
996                                                 male
997                                               female
998                                               female
999                                               female
Total  femalefemalefemalemalemalefemalefemalemalemale...

                                          race/ethnicity  \
0                                                group B
1                                                group C
2                                                group B
3                                                group A
4                                                group C
...                                                  ...
996                                              group C
997                                              group C
998                                              group D
999                                              group D
Total  group Bgroup Cgroup Bgroup Agroup Cgroup Bgrou...

                             parental level of education  \
0                                      bachelor's degree
1                                           some college
2                                        master's degree
3                                     associate's degree
4                                           some college
...                                                  ...
996                                          high school
997                                          high school
998                                         some college
999                                         some college
Total  bachelor's degreesome collegemaster's degreeas...

                                                   lunch  \
0                                               standard
1                                               standard
2                                               standard
3                                           free/reduced
4                                               standard
...                                                  ...
996                                         free/reduced
997                                         free/reduced
998                                             standard
999                                         free/reduced
Total  standardstandardstandardfree/reducedstandardst...

                                 test preparation course  math score  \
0                                                   none          72
1                                              completed          69
2                                                   none          90
3                                                   none          47
4                                                   none          76
...                                                  ...         ...
996                                                 none          62
997                                            completed          59
998                                            completed          68
999                                                 none          77
Total  nonecompletednonenonenonenonecompletednonecomp...       66089

       reading score  writing score total
0                 72             74   NaN
1                 90             88   NaN
2                 95             93   NaN
3                 57             44   NaN
4                 78             75   NaN
...              ...            ...   ...
996               55             55   NaN
997               71             65   NaN
998               78             77   NaN
999               86             86   NaN
Total          69169          68054     0

[1001 rows x 9 columns]

8.	Analysing the average score of all the students on the basis of “race/ethnicity”, “parental level of education”, and “test preparation course” with a clear visualization.

9.	Set the minimum marks to 40 to pass in an exam. Analyse the data on the basis of the no. of students who failed or passed the exam on each score.